body {
    font-family: 'Fira Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.math {
    font-family: 'Fira Math', serif;
}

.navbar-brand {
    font-weight: 700;
}

.card {
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #343a40;
    color: white;
}

footer {
    margin-top: 50px;
}

.list-group-item a {
    text-decoration: none;
}

.list-group-item a:hover {
    text-decoration: underline;
}
